## Assignment Week 5
### By Alexander Doler and Jake Kwok

In this first cell we set the pandas options to only output 10 rows and we also import the csv file we will be using. We then sort the airpots by latitude to get the northernmost airport in the U.S. According to the data, the northermost airport is EEN. However, a Google seach will show that this airport is actually in New Hampshire, so the data may be incorrect, which would mean that BRW is actually the northernmost airport, which is located in Alaska.

In [11]:
import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

airports = pd.read_csv("http://bit.ly/us_airports")
airports.sort_values(["lat", "lon", "alt"], ascending=False)

,faa,name,lat,lon,alt,tz,dst
393,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A
217,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A
98,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A
674,K03,Wainwright As,70.613378,-159.860350,35,-9,A
140,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A
...,...,...,...,...,...,...,...
885,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10,A
1345,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N
218,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10,A
698,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N
646,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N

In this cell we get the easternmost airport in the U.S., which as we can see, is EPM, which is located in Maine.

In [28]:
#airports.sort_values(["lon"], ascending=True)

df = airports
northeast_airports = df[(df['lat'] > 44) & (df['lat'] <= 50) & (df['lon'] >= -75) & (df['lon'] <= -65)]
northeast_airports.sort_values('lon', ascending=False)

,faa,name,lat,lon,alt,tz,dst
419,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A
591,HUL,Houlton Intl,46.123083,-67.792056,489,-4,A
246,CAR,Caribou Muni,46.871500,-68.017917,626,-4,A
1052,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-4,A
1340,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5,A
...,...,...,...,...,...,...,...
223,BTV,Burlington Intl,44.471861,-73.153278,335,-5,A
1004,PBG,Plattsburgh Intl,44.650944,-73.468139,234,-5,A
760,LKP,Lake Placid Airport,44.264444,-73.961944,1747,5,A
1187,SLK,Adirondack Regional Airport,44.385300,-74.206200,1663,-5,A
879,MSS,Massena Intl Richards Fld,44.935833,-74.845547,215,-5,A

In this cell we order the weather table by wind_gust to the windiest airport on 2-12-2013, which was EWR.

In [13]:
wind_speed[(wind_speed["month"]==2) & (wind_speed["day"]==12) & (wind_speed["year"]==2013)].sort_values("wind_speed", ascending=False)

,origin,year,month,day,hour,...,wind_gust,precip,pressure,visib,time_hour
1015,EWR,2013,2,12,8,...,1206.432388,0.0,1008.3,10.00,2013-02-12T08:00:00Z
18433,LGA,2013,2,12,7,...,26.485892,0.0,1007.1,10.00,2013-02-12T07:00:00Z
1024,EWR,2013,2,12,17,...,25.161598,0.0,1012.5,10.00,2013-02-12T17:00:00Z
18444,LGA,2013,2,12,18,...,25.161598,0.0,1011.7,10.00,2013-02-12T18:00:00Z
9728,JFK,2013,2,12,13,...,23.837303,0.0,1011.6,10.00,2013-02-12T13:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...
18427,LGA,2013,2,12,1,...,3.972884,0.0,1004.6,2.50,2013-02-12T01:00:00Z
9715,JFK,2013,2,12,0,...,0.000000,0.0,NaN,0.12,2013-02-12T00:00:00Z
9716,JFK,2013,2,12,1,...,0.000000,0.0,NaN,0.12,2013-02-12T01:00:00Z
9717,JFK,2013,2,12,2,...,0.000000,0.0,NaN,0.12,2013-02-12T02:00:00Z
1007,EWR,2013,2,12,0,...,0.000000,0.0,1004.7,0.50,2013-02-12T00:00:00Z